<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>Hello World!</h2>
        <p style="text-align: justify;">With a Bachelor’s degree in Interior Design, and over 15 years of experience as a teacher, I have recently transitioned into software engineering. I am passionate about creating beautiful and functional applications that solve real-world problems.</p>
        <p style="text-align: justify;">My experience in teaching has given me the ability to communicate complex ideas in simple terms, making me an effective team player. I am always looking for new challenges and opportunities to learn and grow. Feel free to connect with me if you’re interested in working together!</p>
      </div>
    </div>
  </div>
</div>
