<div class="row justify-content-center banner">
  <div class="d-flex flex-column my-auto align-items-center">
    <%= image_tag 'profile-photo.jpg', alt: "profile photo", class: 'avatar-large py-2' %>
    <h1 class="title-main py-2">Chris Bourgeonnier</h1>
  </div>
</div>
