<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="canvas">
          <h2> Psychedelic Canvas</h2>
          <h5>Express yourself! Right-click and save your artwork!</h5>
        <div class="d-flex align-items-center">
          <div class="card-canvas">
            <canvas id="draw" width="800" height="500"></canvas>


          </div>
          <div class="save">
            <button onClick="saveCanvas()"><i class="fa-solid fa-camera"></i></button>

          </div>
        </div>
        <div class="strip">
          <div class="test"></div>
        </div>
          <script src="../javascripts/scripts.js"></script>
      </div>
    </div>
  </div>
</div>
